.results {
  margin-top: 250px;
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
}

// .answer {
//   font-family: helvetica;
//   color: red;
//   font-size: 12px;
// }

// .correct {
//   font-family: helvetica;
//   font-size: 12px;
//   color: green;
// }

// .quiz {
//     margin-top: 250px;
//     font-family: Helvetica;
//     text-align: center;
//     font-size: 12px;
//   }

//   .form-group {
//     display: flex;
//     justify-content: center;
//   }
